:root {
  margin: 50px 100px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-synthesis: none;
  font-family: 'Roboto, sans-serif';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

* {
  scrollbar-color: #888 #f1f1f1;
  scrollbar-width: thin;
}

a,
a:hover,
a:visited {
  text-decoration: none !important;
}

a:visited {
  color: #1873d5;
}

.menu-username {
  color: #888;
  font-size: 0.9rem;
}

.userinfo {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}
