:root {
  padding: 0px 100px;
  padding-top: 50px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-synthesis: none;
  font-family: 'Circular, Roboto, sans-serif' !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

* {
  scrollbar-color: #888 #f1f1f1;
  scrollbar-width: thin;
}

.app {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  text-align: center;
  padding: 16px 0;
}

a,
a:hover,
a:visited {
  text-decoration: none !important;
}

.MuiMenuItem-root {
  color: black !important;
}

.menu-username {
  color: #888;
  font-size: 0.9rem;
}

.userinfo {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}

.options-grid {
  padding-top: 0px !important;
  padding-left: 64px !important;
}

.options-grid h2,
.options-grid h1 {
  margin-top: 0px !important;
}
