.product-block {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  width: 300px;
  height: 310px;
}

.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 230px;
  cursor: pointer;
  border-radius: 0.5rem 0.5rem 0 0;
}

.image-container.big-img {
  width: 460px;
}

.image-container.big-img img {
  width: 460px;
  height: 460px;
  background-color: #fff;
}

.image-container img {
  width: 230px;
  height: 230px;
  display: block;
  transition: transform 0.3s ease-out;
  background-color: #f5f5f5;
}

.image-container::before {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border: 2px solid transparent;
  pointer-events: none;
}

.image-container:hover img {
  transform: scale(1.05);
}

.product-content {
  padding: 0 !important;
}

.product-name {
  color: rgba(0, 0, 0, 0.5);
  transition: text-decoration 0.3s ease-in-out;
}

.product-name:hover {
  text-decoration: underline;
  cursor: pointer;
}
