.product-block {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  width: 300px;
  height: 300px;
}

.product-name {
  transition: text-decoration 0.3s ease-in-out;
}

.image-container:hover .product-name {
  text-decoration: underline;
}

.image-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 230px;
  cursor: pointer;
}

.card {
  border: none !important;
}

.image-container img {
  width: 230px;
  height: 230px;
  display: block;
  transition: transform 0.3s ease-out;
}

.image-container::before {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border: 2px solid transparent;
  pointer-events: none;
}

.image-container:hover img {
  transform: scale(1.05);
}
